<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>crow.garden</title>
		<!-- Default bucket -->
		<link rel="stylesheet" href="/public/normalize.css" webc:keep>
		<link rel="stylesheet" href="/public/styles.css" webc:keep>
		<link rel="icon" href="/public/favicon.png"/>
	</head>
	<body>
		<div>
    		<nav>
    			<ul>
    				<li><a href="/">Home</a></li>
    				<li><a href="https://leaflet.pub/b2b9b984-b508-414d-933f-ddd6fa0a8e9f">Zine</a></li>
    				<li><a href="/shed">Shed</a></li>
    				<li><a href="/now">Now</a></li>
    			</ul>
    		</nav>
			{{ content }}
		</div>
	</body>
</html>
