:root {
  --sp000: rgb(0, 0, 0);
  --sp001: rgb(0, 0, 28.34);
  --sp002: rgb(0, 0, 56.68);
  --sp003: rgb(0, 0, 85.02);
  --sp004: rgb(0, 0, 113.36);
  --sp005: rgb(0, 0, 141.7);
  --sp006: rgb(0, 0, 170.04);
  --sp007: rgb(0, 0, 198.38);
  --sp008: rgb(0, 0, 226.72);
  --sp009: rgb(0, 0, 255);
  --sp010: rgb(0, 28.34, 0);
  --sp011: rgb(0, 28.34, 28.34);
  --sp012: rgb(0, 28.34, 56.68);
  --sp013: rgb(0, 28.34, 85.02);
  --sp014: rgb(0, 28.34, 113.36);
  --sp015: rgb(0, 28.34, 141.7);
  --sp016: rgb(0, 28.34, 170.04);
  --sp017: rgb(0, 28.34, 198.38);
  --sp018: rgb(0, 28.34, 226.72);
  --sp019: rgb(0, 28.34, 255);
  --sp020: rgb(0, 56.68, 0);
  --sp021: rgb(0, 56.68, 28.34);
  --sp022: rgb(0, 56.68, 56.68);
  --sp023: rgb(0, 56.68, 85.02);
  --sp024: rgb(0, 56.68, 113.36);
  --sp025: rgb(0, 56.68, 141.7);
  --sp026: rgb(0, 56.68, 170.04);
  --sp027: rgb(0, 56.68, 198.38);
  --sp028: rgb(0, 56.68, 226.72);
  --sp029: rgb(0, 56.68, 255);
  --sp030: rgb(0, 85.02, 0);
  --sp031: rgb(0, 85.02, 28.34);
  --sp032: rgb(0, 85.02, 56.68);
  --sp033: rgb(0, 85.02, 85.02);
  --sp034: rgb(0, 85.02, 113.36);
  --sp035: rgb(0, 85.02, 141.7);
  --sp036: rgb(0, 85.02, 170.04);
  --sp037: rgb(0, 85.02, 198.38);
  --sp038: rgb(0, 85.02, 226.72);
  --sp039: rgb(0, 85.02, 255);
  --sp040: rgb(0, 113.36, 0);
  --sp041: rgb(0, 113.36, 28.34);
  --sp042: rgb(0, 113.36, 56.68);
  --sp043: rgb(0, 113.36, 85.02);
  --sp044: rgb(0, 113.36, 113.36);
  --sp045: rgb(0, 113.36, 141.7);
  --sp046: rgb(0, 113.36, 170.04);
  --sp047: rgb(0, 113.36, 198.38);
  --sp048: rgb(0, 113.36, 226.72);
  --sp049: rgb(0, 113.36, 255);
  --sp050: rgb(0, 141.7, 0);
  --sp051: rgb(0, 141.7, 28.34);
  --sp052: rgb(0, 141.7, 56.68);
  --sp053: rgb(0, 141.7, 85.02);
  --sp054: rgb(0, 141.7, 113.36);
  --sp055: rgb(0, 141.7, 141.7);
  --sp056: rgb(0, 141.7, 170.04);
  --sp057: rgb(0, 141.7, 198.38);
  --sp058: rgb(0, 141.7, 226.72);
  --sp059: rgb(0, 141.7, 255);
  --sp060: rgb(0, 170.04, 0);
  --sp061: rgb(0, 170.04, 28.34);
  --sp062: rgb(0, 170.04, 56.68);
  --sp063: rgb(0, 170.04, 85.02);
  --sp064: rgb(0, 170.04, 113.36);
  --sp065: rgb(0, 170.04, 141.7);
  --sp066: rgb(0, 170.04, 170.04);
  --sp067: rgb(0, 170.04, 198.38);
  --sp068: rgb(0, 170.04, 226.72);
  --sp069: rgb(0, 170.04, 255);
  --sp070: rgb(0, 198.38, 0);
  --sp071: rgb(0, 198.38, 28.34);
  --sp072: rgb(0, 198.38, 56.68);
  --sp073: rgb(0, 198.38, 85.02);
  --sp074: rgb(0, 198.38, 113.36);
  --sp075: rgb(0, 198.38, 141.7);
  --sp076: rgb(0, 198.38, 170.04);
  --sp077: rgb(0, 198.38, 198.38);
  --sp078: rgb(0, 198.38, 226.72);
  --sp079: rgb(0, 198.38, 255);
  --sp080: rgb(0, 226.72, 0);
  --sp081: rgb(0, 226.72, 28.34);
  --sp082: rgb(0, 226.72, 56.68);
  --sp083: rgb(0, 226.72, 85.02);
  --sp084: rgb(0, 226.72, 113.36);
  --sp085: rgb(0, 226.72, 141.7);
  --sp086: rgb(0, 226.72, 170.04);
  --sp087: rgb(0, 226.72, 198.38);
  --sp088: rgb(0, 226.72, 226.72);
  --sp089: rgb(0, 226.72, 255);
  --sp090: rgb(0, 255, 0);
  --sp091: rgb(0, 255, 28.34);
  --sp092: rgb(0, 255, 56.68);
  --sp093: rgb(0, 255, 85.02);
  --sp094: rgb(0, 255, 113.36);
  --sp095: rgb(0, 255, 141.7);
  --sp096: rgb(0, 255, 170.04);
  --sp097: rgb(0, 255, 198.38);
  --sp098: rgb(0, 255, 226.72);
  --sp099: rgb(0, 255, 255);
  --sp100: rgb(28.34, 0, 0);
  --sp101: rgb(28.34, 0, 28.34);
  --sp102: rgb(28.34, 0, 56.68);
  --sp103: rgb(28.34, 0, 85.02);
  --sp104: rgb(28.34, 0, 113.36);
  --sp105: rgb(28.34, 0, 141.7);
  --sp106: rgb(28.34, 0, 170.04);
  --sp107: rgb(28.34, 0, 198.38);
  --sp108: rgb(28.34, 0, 226.72);
  --sp109: rgb(28.34, 0, 255);
  --sp110: rgb(28.34, 28.34, 0);
  --sp111: rgb(28.34, 28.34, 28.34);
  --sp112: rgb(28.34, 28.34, 56.68);
  --sp113: rgb(28.34, 28.34, 85.02);
  --sp114: rgb(28.34, 28.34, 113.36);
  --sp115: rgb(28.34, 28.34, 141.7);
  --sp116: rgb(28.34, 28.34, 170.04);
  --sp117: rgb(28.34, 28.34, 198.38);
  --sp118: rgb(28.34, 28.34, 226.72);
  --sp119: rgb(28.34, 28.34, 255);
  --sp120: rgb(28.34, 56.68, 0);
  --sp121: rgb(28.34, 56.68, 28.34);
  --sp122: rgb(28.34, 56.68, 56.68);
  --sp123: rgb(28.34, 56.68, 85.02);
  --sp124: rgb(28.34, 56.68, 113.36);
  --sp125: rgb(28.34, 56.68, 141.7);
  --sp126: rgb(28.34, 56.68, 170.04);
  --sp127: rgb(28.34, 56.68, 198.38);
  --sp128: rgb(28.34, 56.68, 226.72);
  --sp129: rgb(28.34, 56.68, 255);
  --sp130: rgb(28.34, 85.02, 0);
  --sp131: rgb(28.34, 85.02, 28.34);
  --sp132: rgb(28.34, 85.02, 56.68);
  --sp133: rgb(28.34, 85.02, 85.02);
  --sp134: rgb(28.34, 85.02, 113.36);
  --sp135: rgb(28.34, 85.02, 141.7);
  --sp136: rgb(28.34, 85.02, 170.04);
  --sp137: rgb(28.34, 85.02, 198.38);
  --sp138: rgb(28.34, 85.02, 226.72);
  --sp139: rgb(28.34, 85.02, 255);
  --sp140: rgb(28.34, 113.36, 0);
  --sp141: rgb(28.34, 113.36, 28.34);
  --sp142: rgb(28.34, 113.36, 56.68);
  --sp143: rgb(28.34, 113.36, 85.02);
  --sp144: rgb(28.34, 113.36, 113.36);
  --sp145: rgb(28.34, 113.36, 141.7);
  --sp146: rgb(28.34, 113.36, 170.04);
  --sp147: rgb(28.34, 113.36, 198.38);
  --sp148: rgb(28.34, 113.36, 226.72);
  --sp149: rgb(28.34, 113.36, 255);
  --sp150: rgb(28.34, 141.7, 0);
  --sp151: rgb(28.34, 141.7, 28.34);
  --sp152: rgb(28.34, 141.7, 56.68);
  --sp153: rgb(28.34, 141.7, 85.02);
  --sp154: rgb(28.34, 141.7, 113.36);
  --sp155: rgb(28.34, 141.7, 141.7);
  --sp156: rgb(28.34, 141.7, 170.04);
  --sp157: rgb(28.34, 141.7, 198.38);
  --sp158: rgb(28.34, 141.7, 226.72);
  --sp159: rgb(28.34, 141.7, 255);
  --sp160: rgb(28.34, 170.04, 0);
  --sp161: rgb(28.34, 170.04, 28.34);
  --sp162: rgb(28.34, 170.04, 56.68);
  --sp163: rgb(28.34, 170.04, 85.02);
  --sp164: rgb(28.34, 170.04, 113.36);
  --sp165: rgb(28.34, 170.04, 141.7);
  --sp166: rgb(28.34, 170.04, 170.04);
  --sp167: rgb(28.34, 170.04, 198.38);
  --sp168: rgb(28.34, 170.04, 226.72);
  --sp169: rgb(28.34, 170.04, 255);
  --sp170: rgb(28.34, 198.38, 0);
  --sp171: rgb(28.34, 198.38, 28.34);
  --sp172: rgb(28.34, 198.38, 56.68);
  --sp173: rgb(28.34, 198.38, 85.02);
  --sp174: rgb(28.34, 198.38, 113.36);
  --sp175: rgb(28.34, 198.38, 141.7);
  --sp176: rgb(28.34, 198.38, 170.04);
  --sp177: rgb(28.34, 198.38, 198.38);
  --sp178: rgb(28.34, 198.38, 226.72);
  --sp179: rgb(28.34, 198.38, 255);
  --sp180: rgb(28.34, 226.72, 0);
  --sp181: rgb(28.34, 226.72, 28.34);
  --sp182: rgb(28.34, 226.72, 56.68);
  --sp183: rgb(28.34, 226.72, 85.02);
  --sp184: rgb(28.34, 226.72, 113.36);
  --sp185: rgb(28.34, 226.72, 141.7);
  --sp186: rgb(28.34, 226.72, 170.04);
  --sp187: rgb(28.34, 226.72, 198.38);
  --sp188: rgb(28.34, 226.72, 226.72);
  --sp189: rgb(28.34, 226.72, 255);
  --sp190: rgb(28.34, 255, 0);
  --sp191: rgb(28.34, 255, 28.34);
  --sp192: rgb(28.34, 255, 56.68);
  --sp193: rgb(28.34, 255, 85.02);
  --sp194: rgb(28.34, 255, 113.36);
  --sp195: rgb(28.34, 255, 141.7);
  --sp196: rgb(28.34, 255, 170.04);
  --sp197: rgb(28.34, 255, 198.38);
  --sp198: rgb(28.34, 255, 226.72);
  --sp199: rgb(28.34, 255, 255);
  --sp200: rgb(56.68, 0, 0);
  --sp201: rgb(56.68, 0, 28.34);
  --sp202: rgb(56.68, 0, 56.68);
  --sp203: rgb(56.68, 0, 85.02);
  --sp204: rgb(56.68, 0, 113.36);
  --sp205: rgb(56.68, 0, 141.7);
  --sp206: rgb(56.68, 0, 170.04);
  --sp207: rgb(56.68, 0, 198.38);
  --sp208: rgb(56.68, 0, 226.72);
  --sp209: rgb(56.68, 0, 255);
  --sp210: rgb(56.68, 28.34, 0);
  --sp211: rgb(56.68, 28.34, 28.34);
  --sp212: rgb(56.68, 28.34, 56.68);
  --sp213: rgb(56.68, 28.34, 85.02);
  --sp214: rgb(56.68, 28.34, 113.36);
  --sp215: rgb(56.68, 28.34, 141.7);
  --sp216: rgb(56.68, 28.34, 170.04);
  --sp217: rgb(56.68, 28.34, 198.38);
  --sp218: rgb(56.68, 28.34, 226.72);
  --sp219: rgb(56.68, 28.34, 255);
  --sp220: rgb(56.68, 56.68, 0);
  --sp221: rgb(56.68, 56.68, 28.34);
  --sp222: rgb(56.68, 56.68, 56.68);
  --sp223: rgb(56.68, 56.68, 85.02);
  --sp224: rgb(56.68, 56.68, 113.36);
  --sp225: rgb(56.68, 56.68, 141.7);
  --sp226: rgb(56.68, 56.68, 170.04);
  --sp227: rgb(56.68, 56.68, 198.38);
  --sp228: rgb(56.68, 56.68, 226.72);
  --sp229: rgb(56.68, 56.68, 255);
  --sp230: rgb(56.68, 85.02, 0);
  --sp231: rgb(56.68, 85.02, 28.34);
  --sp232: rgb(56.68, 85.02, 56.68);
  --sp233: rgb(56.68, 85.02, 85.02);
  --sp234: rgb(56.68, 85.02, 113.36);
  --sp235: rgb(56.68, 85.02, 141.7);
  --sp236: rgb(56.68, 85.02, 170.04);
  --sp237: rgb(56.68, 85.02, 198.38);
  --sp238: rgb(56.68, 85.02, 226.72);
  --sp239: rgb(56.68, 85.02, 255);
  --sp240: rgb(56.68, 113.36, 0);
  --sp241: rgb(56.68, 113.36, 28.34);
  --sp242: rgb(56.68, 113.36, 56.68);
  --sp243: rgb(56.68, 113.36, 85.02);
  --sp244: rgb(56.68, 113.36, 113.36);
  --sp245: rgb(56.68, 113.36, 141.7);
  --sp246: rgb(56.68, 113.36, 170.04);
  --sp247: rgb(56.68, 113.36, 198.38);
  --sp248: rgb(56.68, 113.36, 226.72);
  --sp249: rgb(56.68, 113.36, 255);
  --sp250: rgb(56.68, 141.7, 0);
  --sp251: rgb(56.68, 141.7, 28.34);
  --sp252: rgb(56.68, 141.7, 56.68);
  --sp253: rgb(56.68, 141.7, 85.02);
  --sp254: rgb(56.68, 141.7, 113.36);
  --sp255: rgb(56.68, 141.7, 141.7);
  --sp256: rgb(56.68, 141.7, 170.04);
  --sp257: rgb(56.68, 141.7, 198.38);
  --sp258: rgb(56.68, 141.7, 226.72);
  --sp259: rgb(56.68, 141.7, 255);
  --sp260: rgb(56.68, 170.04, 0);
  --sp261: rgb(56.68, 170.04, 28.34);
  --sp262: rgb(56.68, 170.04, 56.68);
  --sp263: rgb(56.68, 170.04, 85.02);
  --sp264: rgb(56.68, 170.04, 113.36);
  --sp265: rgb(56.68, 170.04, 141.7);
  --sp266: rgb(56.68, 170.04, 170.04);
  --sp267: rgb(56.68, 170.04, 198.38);
  --sp268: rgb(56.68, 170.04, 226.72);
  --sp269: rgb(56.68, 170.04, 255);
  --sp270: rgb(56.68, 198.38, 0);
  --sp271: rgb(56.68, 198.38, 28.34);
  --sp272: rgb(56.68, 198.38, 56.68);
  --sp273: rgb(56.68, 198.38, 85.02);
  --sp274: rgb(56.68, 198.38, 113.36);
  --sp275: rgb(56.68, 198.38, 141.7);
  --sp276: rgb(56.68, 198.38, 170.04);
  --sp277: rgb(56.68, 198.38, 198.38);
  --sp278: rgb(56.68, 198.38, 226.72);
  --sp279: rgb(56.68, 198.38, 255);
  --sp280: rgb(56.68, 226.72, 0);
  --sp281: rgb(56.68, 226.72, 28.34);
  --sp282: rgb(56.68, 226.72, 56.68);
  --sp283: rgb(56.68, 226.72, 85.02);
  --sp284: rgb(56.68, 226.72, 113.36);
  --sp285: rgb(56.68, 226.72, 141.7);
  --sp286: rgb(56.68, 226.72, 170.04);
  --sp287: rgb(56.68, 226.72, 198.38);
  --sp288: rgb(56.68, 226.72, 226.72);
  --sp289: rgb(56.68, 226.72, 255);
  --sp290: rgb(56.68, 255, 0);
  --sp291: rgb(56.68, 255, 28.34);
  --sp292: rgb(56.68, 255, 56.68);
  --sp293: rgb(56.68, 255, 85.02);
  --sp294: rgb(56.68, 255, 113.36);
  --sp295: rgb(56.68, 255, 141.7);
  --sp296: rgb(56.68, 255, 170.04);
  --sp297: rgb(56.68, 255, 198.38);
  --sp298: rgb(56.68, 255, 226.72);
  --sp299: rgb(56.68, 255, 255);
  --sp300: rgb(85.02, 0, 0);
  --sp301: rgb(85.02, 0, 28.34);
  --sp302: rgb(85.02, 0, 56.68);
  --sp303: rgb(85.02, 0, 85.02);
  --sp304: rgb(85.02, 0, 113.36);
  --sp305: rgb(85.02, 0, 141.7);
  --sp306: rgb(85.02, 0, 170.04);
  --sp307: rgb(85.02, 0, 198.38);
  --sp308: rgb(85.02, 0, 226.72);
  --sp309: rgb(85.02, 0, 255);
  --sp310: rgb(85.02, 28.34, 0);
  --sp311: rgb(85.02, 28.34, 28.34);
  --sp312: rgb(85.02, 28.34, 56.68);
  --sp313: rgb(85.02, 28.34, 85.02);
  --sp314: rgb(85.02, 28.34, 113.36);
  --sp315: rgb(85.02, 28.34, 141.7);
  --sp316: rgb(85.02, 28.34, 170.04);
  --sp317: rgb(85.02, 28.34, 198.38);
  --sp318: rgb(85.02, 28.34, 226.72);
  --sp319: rgb(85.02, 28.34, 255);
  --sp320: rgb(85.02, 56.68, 0);
  --sp321: rgb(85.02, 56.68, 28.34);
  --sp322: rgb(85.02, 56.68, 56.68);
  --sp323: rgb(85.02, 56.68, 85.02);
  --sp324: rgb(85.02, 56.68, 113.36);
  --sp325: rgb(85.02, 56.68, 141.7);
  --sp326: rgb(85.02, 56.68, 170.04);
  --sp327: rgb(85.02, 56.68, 198.38);
  --sp328: rgb(85.02, 56.68, 226.72);
  --sp329: rgb(85.02, 56.68, 255);
  --sp330: rgb(85.02, 85.02, 0);
  --sp331: rgb(85.02, 85.02, 28.34);
  --sp332: rgb(85.02, 85.02, 56.68);
  --sp333: rgb(85.02, 85.02, 85.02);
  --sp334: rgb(85.02, 85.02, 113.36);
  --sp335: rgb(85.02, 85.02, 141.7);
  --sp336: rgb(85.02, 85.02, 170.04);
  --sp337: rgb(85.02, 85.02, 198.38);
  --sp338: rgb(85.02, 85.02, 226.72);
  --sp339: rgb(85.02, 85.02, 255);
  --sp340: rgb(85.02, 113.36, 0);
  --sp341: rgb(85.02, 113.36, 28.34);
  --sp342: rgb(85.02, 113.36, 56.68);
  --sp343: rgb(85.02, 113.36, 85.02);
  --sp344: rgb(85.02, 113.36, 113.36);
  --sp345: rgb(85.02, 113.36, 141.7);
  --sp346: rgb(85.02, 113.36, 170.04);
  --sp347: rgb(85.02, 113.36, 198.38);
  --sp348: rgb(85.02, 113.36, 226.72);
  --sp349: rgb(85.02, 113.36, 255);
  --sp350: rgb(85.02, 141.7, 0);
  --sp351: rgb(85.02, 141.7, 28.34);
  --sp352: rgb(85.02, 141.7, 56.68);
  --sp353: rgb(85.02, 141.7, 85.02);
  --sp354: rgb(85.02, 141.7, 113.36);
  --sp355: rgb(85.02, 141.7, 141.7);
  --sp356: rgb(85.02, 141.7, 170.04);
  --sp357: rgb(85.02, 141.7, 198.38);
  --sp358: rgb(85.02, 141.7, 226.72);
  --sp359: rgb(85.02, 141.7, 255);
  --sp360: rgb(85.02, 170.04, 0);
  --sp361: rgb(85.02, 170.04, 28.34);
  --sp362: rgb(85.02, 170.04, 56.68);
  --sp363: rgb(85.02, 170.04, 85.02);
  --sp364: rgb(85.02, 170.04, 113.36);
  --sp365: rgb(85.02, 170.04, 141.7);
  --sp366: rgb(85.02, 170.04, 170.04);
  --sp367: rgb(85.02, 170.04, 198.38);
  --sp368: rgb(85.02, 170.04, 226.72);
  --sp369: rgb(85.02, 170.04, 255);
  --sp370: rgb(85.02, 198.38, 0);
  --sp371: rgb(85.02, 198.38, 28.34);
  --sp372: rgb(85.02, 198.38, 56.68);
  --sp373: rgb(85.02, 198.38, 85.02);
  --sp374: rgb(85.02, 198.38, 113.36);
  --sp375: rgb(85.02, 198.38, 141.7);
  --sp376: rgb(85.02, 198.38, 170.04);
  --sp377: rgb(85.02, 198.38, 198.38);
  --sp378: rgb(85.02, 198.38, 226.72);
  --sp379: rgb(85.02, 198.38, 255);
  --sp380: rgb(85.02, 226.72, 0);
  --sp381: rgb(85.02, 226.72, 28.34);
  --sp382: rgb(85.02, 226.72, 56.68);
  --sp383: rgb(85.02, 226.72, 85.02);
  --sp384: rgb(85.02, 226.72, 113.36);
  --sp385: rgb(85.02, 226.72, 141.7);
  --sp386: rgb(85.02, 226.72, 170.04);
  --sp387: rgb(85.02, 226.72, 198.38);
  --sp388: rgb(85.02, 226.72, 226.72);
  --sp389: rgb(85.02, 226.72, 255);
  --sp390: rgb(85.02, 255, 0);
  --sp391: rgb(85.02, 255, 28.34);
  --sp392: rgb(85.02, 255, 56.68);
  --sp393: rgb(85.02, 255, 85.02);
  --sp394: rgb(85.02, 255, 113.36);
  --sp395: rgb(85.02, 255, 141.7);
  --sp396: rgb(85.02, 255, 170.04);
  --sp397: rgb(85.02, 255, 198.38);
  --sp398: rgb(85.02, 255, 226.72);
  --sp399: rgb(85.02, 255, 255);
  --sp400: rgb(113.36, 0, 0);
  --sp401: rgb(113.36, 0, 28.34);
  --sp402: rgb(113.36, 0, 56.68);
  --sp403: rgb(113.36, 0, 85.02);
  --sp404: rgb(113.36, 0, 113.36);
  --sp405: rgb(113.36, 0, 141.7);
  --sp406: rgb(113.36, 0, 170.04);
  --sp407: rgb(113.36, 0, 198.38);
  --sp408: rgb(113.36, 0, 226.72);
  --sp409: rgb(113.36, 0, 255);
  --sp410: rgb(113.36, 28.34, 0);
  --sp411: rgb(113.36, 28.34, 28.34);
  --sp412: rgb(113.36, 28.34, 56.68);
  --sp413: rgb(113.36, 28.34, 85.02);
  --sp414: rgb(113.36, 28.34, 113.36);
  --sp415: rgb(113.36, 28.34, 141.7);
  --sp416: rgb(113.36, 28.34, 170.04);
  --sp417: rgb(113.36, 28.34, 198.38);
  --sp418: rgb(113.36, 28.34, 226.72);
  --sp419: rgb(113.36, 28.34, 255);
  --sp420: rgb(113.36, 56.68, 0);
  --sp421: rgb(113.36, 56.68, 28.34);
  --sp422: rgb(113.36, 56.68, 56.68);
  --sp423: rgb(113.36, 56.68, 85.02);
  --sp424: rgb(113.36, 56.68, 113.36);
  --sp425: rgb(113.36, 56.68, 141.7);
  --sp426: rgb(113.36, 56.68, 170.04);
  --sp427: rgb(113.36, 56.68, 198.38);
  --sp428: rgb(113.36, 56.68, 226.72);
  --sp429: rgb(113.36, 56.68, 255);
  --sp430: rgb(113.36, 85.02, 0);
  --sp431: rgb(113.36, 85.02, 28.34);
  --sp432: rgb(113.36, 85.02, 56.68);
  --sp433: rgb(113.36, 85.02, 85.02);
  --sp434: rgb(113.36, 85.02, 113.36);
  --sp435: rgb(113.36, 85.02, 141.7);
  --sp436: rgb(113.36, 85.02, 170.04);
  --sp437: rgb(113.36, 85.02, 198.38);
  --sp438: rgb(113.36, 85.02, 226.72);
  --sp439: rgb(113.36, 85.02, 255);
  --sp440: rgb(113.36, 113.36, 0);
  --sp441: rgb(113.36, 113.36, 28.34);
  --sp442: rgb(113.36, 113.36, 56.68);
  --sp443: rgb(113.36, 113.36, 85.02);
  --sp444: rgb(113.36, 113.36, 113.36);
  --sp445: rgb(113.36, 113.36, 141.7);
  --sp446: rgb(113.36, 113.36, 170.04);
  --sp447: rgb(113.36, 113.36, 198.38);
  --sp448: rgb(113.36, 113.36, 226.72);
  --sp449: rgb(113.36, 113.36, 255);
  --sp450: rgb(113.36, 141.7, 0);
  --sp451: rgb(113.36, 141.7, 28.34);
  --sp452: rgb(113.36, 141.7, 56.68);
  --sp453: rgb(113.36, 141.7, 85.02);
  --sp454: rgb(113.36, 141.7, 113.36);
  --sp455: rgb(113.36, 141.7, 141.7);
  --sp456: rgb(113.36, 141.7, 170.04);
  --sp457: rgb(113.36, 141.7, 198.38);
  --sp458: rgb(113.36, 141.7, 226.72);
  --sp459: rgb(113.36, 141.7, 255);
  --sp460: rgb(113.36, 170.04, 0);
  --sp461: rgb(113.36, 170.04, 28.34);
  --sp462: rgb(113.36, 170.04, 56.68);
  --sp463: rgb(113.36, 170.04, 85.02);
  --sp464: rgb(113.36, 170.04, 113.36);
  --sp465: rgb(113.36, 170.04, 141.7);
  --sp466: rgb(113.36, 170.04, 170.04);
  --sp467: rgb(113.36, 170.04, 198.38);
  --sp468: rgb(113.36, 170.04, 226.72);
  --sp469: rgb(113.36, 170.04, 255);
  --sp470: rgb(113.36, 198.38, 0);
  --sp471: rgb(113.36, 198.38, 28.34);
  --sp472: rgb(113.36, 198.38, 56.68);
  --sp473: rgb(113.36, 198.38, 85.02);
  --sp474: rgb(113.36, 198.38, 113.36);
  --sp475: rgb(113.36, 198.38, 141.7);
  --sp476: rgb(113.36, 198.38, 170.04);
  --sp477: rgb(113.36, 198.38, 198.38);
  --sp478: rgb(113.36, 198.38, 226.72);
  --sp479: rgb(113.36, 198.38, 255);
  --sp480: rgb(113.36, 226.72, 0);
  --sp481: rgb(113.36, 226.72, 28.34);
  --sp482: rgb(113.36, 226.72, 56.68);
  --sp483: rgb(113.36, 226.72, 85.02);
  --sp484: rgb(113.36, 226.72, 113.36);
  --sp485: rgb(113.36, 226.72, 141.7);
  --sp486: rgb(113.36, 226.72, 170.04);
  --sp487: rgb(113.36, 226.72, 198.38);
  --sp488: rgb(113.36, 226.72, 226.72);
  --sp489: rgb(113.36, 226.72, 255);
  --sp490: rgb(113.36, 255, 0);
  --sp491: rgb(113.36, 255, 28.34);
  --sp492: rgb(113.36, 255, 56.68);
  --sp493: rgb(113.36, 255, 85.02);
  --sp494: rgb(113.36, 255, 113.36);
  --sp495: rgb(113.36, 255, 141.7);
  --sp496: rgb(113.36, 255, 170.04);
  --sp497: rgb(113.36, 255, 198.38);
  --sp498: rgb(113.36, 255, 226.72);
  --sp499: rgb(113.36, 255, 255);
  --sp500: rgb(141.7, 0, 0);
  --sp501: rgb(141.7, 0, 28.34);
  --sp502: rgb(141.7, 0, 56.68);
  --sp503: rgb(141.7, 0, 85.02);
  --sp504: rgb(141.7, 0, 113.36);
  --sp505: rgb(141.7, 0, 141.7);
  --sp506: rgb(141.7, 0, 170.04);
  --sp507: rgb(141.7, 0, 198.38);
  --sp508: rgb(141.7, 0, 226.72);
  --sp509: rgb(141.7, 0, 255);
  --sp510: rgb(141.7, 28.34, 0);
  --sp511: rgb(141.7, 28.34, 28.34);
  --sp512: rgb(141.7, 28.34, 56.68);
  --sp513: rgb(141.7, 28.34, 85.02);
  --sp514: rgb(141.7, 28.34, 113.36);
  --sp515: rgb(141.7, 28.34, 141.7);
  --sp516: rgb(141.7, 28.34, 170.04);
  --sp517: rgb(141.7, 28.34, 198.38);
  --sp518: rgb(141.7, 28.34, 226.72);
  --sp519: rgb(141.7, 28.34, 255);
  --sp520: rgb(141.7, 56.68, 0);
  --sp521: rgb(141.7, 56.68, 28.34);
  --sp522: rgb(141.7, 56.68, 56.68);
  --sp523: rgb(141.7, 56.68, 85.02);
  --sp524: rgb(141.7, 56.68, 113.36);
  --sp525: rgb(141.7, 56.68, 141.7);
  --sp526: rgb(141.7, 56.68, 170.04);
  --sp527: rgb(141.7, 56.68, 198.38);
  --sp528: rgb(141.7, 56.68, 226.72);
  --sp529: rgb(141.7, 56.68, 255);
  --sp530: rgb(141.7, 85.02, 0);
  --sp531: rgb(141.7, 85.02, 28.34);
  --sp532: rgb(141.7, 85.02, 56.68);
  --sp533: rgb(141.7, 85.02, 85.02);
  --sp534: rgb(141.7, 85.02, 113.36);
  --sp535: rgb(141.7, 85.02, 141.7);
  --sp536: rgb(141.7, 85.02, 170.04);
  --sp537: rgb(141.7, 85.02, 198.38);
  --sp538: rgb(141.7, 85.02, 226.72);
  --sp539: rgb(141.7, 85.02, 255);
  --sp540: rgb(141.7, 113.36, 0);
  --sp541: rgb(141.7, 113.36, 28.34);
  --sp542: rgb(141.7, 113.36, 56.68);
  --sp543: rgb(141.7, 113.36, 85.02);
  --sp544: rgb(141.7, 113.36, 113.36);
  --sp545: rgb(141.7, 113.36, 141.7);
  --sp546: rgb(141.7, 113.36, 170.04);
  --sp547: rgb(141.7, 113.36, 198.38);
  --sp548: rgb(141.7, 113.36, 226.72);
  --sp549: rgb(141.7, 113.36, 255);
  --sp550: rgb(141.7, 141.7, 0);
  --sp551: rgb(141.7, 141.7, 28.34);
  --sp552: rgb(141.7, 141.7, 56.68);
  --sp553: rgb(141.7, 141.7, 85.02);
  --sp554: rgb(141.7, 141.7, 113.36);
  --sp555: rgb(141.7, 141.7, 141.7);
  --sp556: rgb(141.7, 141.7, 170.04);
  --sp557: rgb(141.7, 141.7, 198.38);
  --sp558: rgb(141.7, 141.7, 226.72);
  --sp559: rgb(141.7, 141.7, 255);
  --sp560: rgb(141.7, 170.04, 0);
  --sp561: rgb(141.7, 170.04, 28.34);
  --sp562: rgb(141.7, 170.04, 56.68);
  --sp563: rgb(141.7, 170.04, 85.02);
  --sp564: rgb(141.7, 170.04, 113.36);
  --sp565: rgb(141.7, 170.04, 141.7);
  --sp566: rgb(141.7, 170.04, 170.04);
  --sp567: rgb(141.7, 170.04, 198.38);
  --sp568: rgb(141.7, 170.04, 226.72);
  --sp569: rgb(141.7, 170.04, 255);
  --sp570: rgb(141.7, 198.38, 0);
  --sp571: rgb(141.7, 198.38, 28.34);
  --sp572: rgb(141.7, 198.38, 56.68);
  --sp573: rgb(141.7, 198.38, 85.02);
  --sp574: rgb(141.7, 198.38, 113.36);
  --sp575: rgb(141.7, 198.38, 141.7);
  --sp576: rgb(141.7, 198.38, 170.04);
  --sp577: rgb(141.7, 198.38, 198.38);
  --sp578: rgb(141.7, 198.38, 226.72);
  --sp579: rgb(141.7, 198.38, 255);
  --sp580: rgb(141.7, 226.72, 0);
  --sp581: rgb(141.7, 226.72, 28.34);
  --sp582: rgb(141.7, 226.72, 56.68);
  --sp583: rgb(141.7, 226.72, 85.02);
  --sp584: rgb(141.7, 226.72, 113.36);
  --sp585: rgb(141.7, 226.72, 141.7);
  --sp586: rgb(141.7, 226.72, 170.04);
  --sp587: rgb(141.7, 226.72, 198.38);
  --sp588: rgb(141.7, 226.72, 226.72);
  --sp589: rgb(141.7, 226.72, 255);
  --sp590: rgb(141.7, 255, 0);
  --sp591: rgb(141.7, 255, 28.34);
  --sp592: rgb(141.7, 255, 56.68);
  --sp593: rgb(141.7, 255, 85.02);
  --sp594: rgb(141.7, 255, 113.36);
  --sp595: rgb(141.7, 255, 141.7);
  --sp596: rgb(141.7, 255, 170.04);
  --sp597: rgb(141.7, 255, 198.38);
  --sp598: rgb(141.7, 255, 226.72);
  --sp599: rgb(141.7, 255, 255);
  --sp600: rgb(170.04, 0, 0);
  --sp601: rgb(170.04, 0, 28.34);
  --sp602: rgb(170.04, 0, 56.68);
  --sp603: rgb(170.04, 0, 85.02);
  --sp604: rgb(170.04, 0, 113.36);
  --sp605: rgb(170.04, 0, 141.7);
  --sp606: rgb(170.04, 0, 170.04);
  --sp607: rgb(170.04, 0, 198.38);
  --sp608: rgb(170.04, 0, 226.72);
  --sp609: rgb(170.04, 0, 255);
  --sp610: rgb(170.04, 28.34, 0);
  --sp611: rgb(170.04, 28.34, 28.34);
  --sp612: rgb(170.04, 28.34, 56.68);
  --sp613: rgb(170.04, 28.34, 85.02);
  --sp614: rgb(170.04, 28.34, 113.36);
  --sp615: rgb(170.04, 28.34, 141.7);
  --sp616: rgb(170.04, 28.34, 170.04);
  --sp617: rgb(170.04, 28.34, 198.38);
  --sp618: rgb(170.04, 28.34, 226.72);
  --sp619: rgb(170.04, 28.34, 255);
  --sp620: rgb(170.04, 56.68, 0);
  --sp621: rgb(170.04, 56.68, 28.34);
  --sp622: rgb(170.04, 56.68, 56.68);
  --sp623: rgb(170.04, 56.68, 85.02);
  --sp624: rgb(170.04, 56.68, 113.36);
  --sp625: rgb(170.04, 56.68, 141.7);
  --sp626: rgb(170.04, 56.68, 170.04);
  --sp627: rgb(170.04, 56.68, 198.38);
  --sp628: rgb(170.04, 56.68, 226.72);
  --sp629: rgb(170.04, 56.68, 255);
  --sp630: rgb(170.04, 85.02, 0);
  --sp631: rgb(170.04, 85.02, 28.34);
  --sp632: rgb(170.04, 85.02, 56.68);
  --sp633: rgb(170.04, 85.02, 85.02);
  --sp634: rgb(170.04, 85.02, 113.36);
  --sp635: rgb(170.04, 85.02, 141.7);
  --sp636: rgb(170.04, 85.02, 170.04);
  --sp637: rgb(170.04, 85.02, 198.38);
  --sp638: rgb(170.04, 85.02, 226.72);
  --sp639: rgb(170.04, 85.02, 255);
  --sp640: rgb(170.04, 113.36, 0);
  --sp641: rgb(170.04, 113.36, 28.34);
  --sp642: rgb(170.04, 113.36, 56.68);
  --sp643: rgb(170.04, 113.36, 85.02);
  --sp644: rgb(170.04, 113.36, 113.36);
  --sp645: rgb(170.04, 113.36, 141.7);
  --sp646: rgb(170.04, 113.36, 170.04);
  --sp647: rgb(170.04, 113.36, 198.38);
  --sp648: rgb(170.04, 113.36, 226.72);
  --sp649: rgb(170.04, 113.36, 255);
  --sp650: rgb(170.04, 141.7, 0);
  --sp651: rgb(170.04, 141.7, 28.34);
  --sp652: rgb(170.04, 141.7, 56.68);
  --sp653: rgb(170.04, 141.7, 85.02);
  --sp654: rgb(170.04, 141.7, 113.36);
  --sp655: rgb(170.04, 141.7, 141.7);
  --sp656: rgb(170.04, 141.7, 170.04);
  --sp657: rgb(170.04, 141.7, 198.38);
  --sp658: rgb(170.04, 141.7, 226.72);
  --sp659: rgb(170.04, 141.7, 255);
  --sp660: rgb(170.04, 170.04, 0);
  --sp661: rgb(170.04, 170.04, 28.34);
  --sp662: rgb(170.04, 170.04, 56.68);
  --sp663: rgb(170.04, 170.04, 85.02);
  --sp664: rgb(170.04, 170.04, 113.36);
  --sp665: rgb(170.04, 170.04, 141.7);
  --sp666: rgb(170.04, 170.04, 170.04);
  --sp667: rgb(170.04, 170.04, 198.38);
  --sp668: rgb(170.04, 170.04, 226.72);
  --sp669: rgb(170.04, 170.04, 255);
  --sp670: rgb(170.04, 198.38, 0);
  --sp671: rgb(170.04, 198.38, 28.34);
  --sp672: rgb(170.04, 198.38, 56.68);
  --sp673: rgb(170.04, 198.38, 85.02);
  --sp674: rgb(170.04, 198.38, 113.36);
  --sp675: rgb(170.04, 198.38, 141.7);
  --sp676: rgb(170.04, 198.38, 170.04);
  --sp677: rgb(170.04, 198.38, 198.38);
  --sp678: rgb(170.04, 198.38, 226.72);
  --sp679: rgb(170.04, 198.38, 255);
  --sp680: rgb(170.04, 226.72, 0);
  --sp681: rgb(170.04, 226.72, 28.34);
  --sp682: rgb(170.04, 226.72, 56.68);
  --sp683: rgb(170.04, 226.72, 85.02);
  --sp684: rgb(170.04, 226.72, 113.36);
  --sp685: rgb(170.04, 226.72, 141.7);
  --sp686: rgb(170.04, 226.72, 170.04);
  --sp687: rgb(170.04, 226.72, 198.38);
  --sp688: rgb(170.04, 226.72, 226.72);
  --sp689: rgb(170.04, 226.72, 255);
  --sp690: rgb(170.04, 255, 0);
  --sp691: rgb(170.04, 255, 28.34);
  --sp692: rgb(170.04, 255, 56.68);
  --sp693: rgb(170.04, 255, 85.02);
  --sp694: rgb(170.04, 255, 113.36);
  --sp695: rgb(170.04, 255, 141.7);
  --sp696: rgb(170.04, 255, 170.04);
  --sp697: rgb(170.04, 255, 198.38);
  --sp698: rgb(170.04, 255, 226.72);
  --sp699: rgb(170.04, 255, 255);
  --sp700: rgb(198.38, 0, 0);
  --sp701: rgb(198.38, 0, 28.34);
  --sp702: rgb(198.38, 0, 56.68);
  --sp703: rgb(198.38, 0, 85.02);
  --sp704: rgb(198.38, 0, 113.36);
  --sp705: rgb(198.38, 0, 141.7);
  --sp706: rgb(198.38, 0, 170.04);
  --sp707: rgb(198.38, 0, 198.38);
  --sp708: rgb(198.38, 0, 226.72);
  --sp709: rgb(198.38, 0, 255);
  --sp710: rgb(198.38, 28.34, 0);
  --sp711: rgb(198.38, 28.34, 28.34);
  --sp712: rgb(198.38, 28.34, 56.68);
  --sp713: rgb(198.38, 28.34, 85.02);
  --sp714: rgb(198.38, 28.34, 113.36);
  --sp715: rgb(198.38, 28.34, 141.7);
  --sp716: rgb(198.38, 28.34, 170.04);
  --sp717: rgb(198.38, 28.34, 198.38);
  --sp718: rgb(198.38, 28.34, 226.72);
  --sp719: rgb(198.38, 28.34, 255);
  --sp720: rgb(198.38, 56.68, 0);
  --sp721: rgb(198.38, 56.68, 28.34);
  --sp722: rgb(198.38, 56.68, 56.68);
  --sp723: rgb(198.38, 56.68, 85.02);
  --sp724: rgb(198.38, 56.68, 113.36);
  --sp725: rgb(198.38, 56.68, 141.7);
  --sp726: rgb(198.38, 56.68, 170.04);
  --sp727: rgb(198.38, 56.68, 198.38);
  --sp728: rgb(198.38, 56.68, 226.72);
  --sp729: rgb(198.38, 56.68, 255);
  --sp730: rgb(198.38, 85.02, 0);
  --sp731: rgb(198.38, 85.02, 28.34);
  --sp732: rgb(198.38, 85.02, 56.68);
  --sp733: rgb(198.38, 85.02, 85.02);
  --sp734: rgb(198.38, 85.02, 113.36);
  --sp735: rgb(198.38, 85.02, 141.7);
  --sp736: rgb(198.38, 85.02, 170.04);
  --sp737: rgb(198.38, 85.02, 198.38);
  --sp738: rgb(198.38, 85.02, 226.72);
  --sp739: rgb(198.38, 85.02, 255);
  --sp740: rgb(198.38, 113.36, 0);
  --sp741: rgb(198.38, 113.36, 28.34);
  --sp742: rgb(198.38, 113.36, 56.68);
  --sp743: rgb(198.38, 113.36, 85.02);
  --sp744: rgb(198.38, 113.36, 113.36);
  --sp745: rgb(198.38, 113.36, 141.7);
  --sp746: rgb(198.38, 113.36, 170.04);
  --sp747: rgb(198.38, 113.36, 198.38);
  --sp748: rgb(198.38, 113.36, 226.72);
  --sp749: rgb(198.38, 113.36, 255);
  --sp750: rgb(198.38, 141.7, 0);
  --sp751: rgb(198.38, 141.7, 28.34);
  --sp752: rgb(198.38, 141.7, 56.68);
  --sp753: rgb(198.38, 141.7, 85.02);
  --sp754: rgb(198.38, 141.7, 113.36);
  --sp755: rgb(198.38, 141.7, 141.7);
  --sp756: rgb(198.38, 141.7, 170.04);
  --sp757: rgb(198.38, 141.7, 198.38);
  --sp758: rgb(198.38, 141.7, 226.72);
  --sp759: rgb(198.38, 141.7, 255);
  --sp760: rgb(198.38, 170.04, 0);
  --sp761: rgb(198.38, 170.04, 28.34);
  --sp762: rgb(198.38, 170.04, 56.68);
  --sp763: rgb(198.38, 170.04, 85.02);
  --sp764: rgb(198.38, 170.04, 113.36);
  --sp765: rgb(198.38, 170.04, 141.7);
  --sp766: rgb(198.38, 170.04, 170.04);
  --sp767: rgb(198.38, 170.04, 198.38);
  --sp768: rgb(198.38, 170.04, 226.72);
  --sp769: rgb(198.38, 170.04, 255);
  --sp770: rgb(198.38, 198.38, 0);
  --sp771: rgb(198.38, 198.38, 28.34);
  --sp772: rgb(198.38, 198.38, 56.68);
  --sp773: rgb(198.38, 198.38, 85.02);
  --sp774: rgb(198.38, 198.38, 113.36);
  --sp775: rgb(198.38, 198.38, 141.7);
  --sp776: rgb(198.38, 198.38, 170.04);
  --sp777: rgb(198.38, 198.38, 198.38);
  --sp778: rgb(198.38, 198.38, 226.72);
  --sp779: rgb(198.38, 198.38, 255);
  --sp780: rgb(198.38, 226.72, 0);
  --sp781: rgb(198.38, 226.72, 28.34);
  --sp782: rgb(198.38, 226.72, 56.68);
  --sp783: rgb(198.38, 226.72, 85.02);
  --sp784: rgb(198.38, 226.72, 113.36);
  --sp785: rgb(198.38, 226.72, 141.7);
  --sp786: rgb(198.38, 226.72, 170.04);
  --sp787: rgb(198.38, 226.72, 198.38);
  --sp788: rgb(198.38, 226.72, 226.72);
  --sp789: rgb(198.38, 226.72, 255);
  --sp790: rgb(198.38, 255, 0);
  --sp791: rgb(198.38, 255, 28.34);
  --sp792: rgb(198.38, 255, 56.68);
  --sp793: rgb(198.38, 255, 85.02);
  --sp794: rgb(198.38, 255, 113.36);
  --sp795: rgb(198.38, 255, 141.7);
  --sp796: rgb(198.38, 255, 170.04);
  --sp797: rgb(198.38, 255, 198.38);
  --sp798: rgb(198.38, 255, 226.72);
  --sp799: rgb(198.38, 255, 255);
  --sp800: rgb(226.72, 0, 0);
  --sp801: rgb(226.72, 0, 28.34);
  --sp802: rgb(226.72, 0, 56.68);
  --sp803: rgb(226.72, 0, 85.02);
  --sp804: rgb(226.72, 0, 113.36);
  --sp805: rgb(226.72, 0, 141.7);
  --sp806: rgb(226.72, 0, 170.04);
  --sp807: rgb(226.72, 0, 198.38);
  --sp808: rgb(226.72, 0, 226.72);
  --sp809: rgb(226.72, 0, 255);
  --sp810: rgb(226.72, 28.34, 0);
  --sp811: rgb(226.72, 28.34, 28.34);
  --sp812: rgb(226.72, 28.34, 56.68);
  --sp813: rgb(226.72, 28.34, 85.02);
  --sp814: rgb(226.72, 28.34, 113.36);
  --sp815: rgb(226.72, 28.34, 141.7);
  --sp816: rgb(226.72, 28.34, 170.04);
  --sp817: rgb(226.72, 28.34, 198.38);
  --sp818: rgb(226.72, 28.34, 226.72);
  --sp819: rgb(226.72, 28.34, 255);
  --sp820: rgb(226.72, 56.68, 0);
  --sp821: rgb(226.72, 56.68, 28.34);
  --sp822: rgb(226.72, 56.68, 56.68);
  --sp823: rgb(226.72, 56.68, 85.02);
  --sp824: rgb(226.72, 56.68, 113.36);
  --sp825: rgb(226.72, 56.68, 141.7);
  --sp826: rgb(226.72, 56.68, 170.04);
  --sp827: rgb(226.72, 56.68, 198.38);
  --sp828: rgb(226.72, 56.68, 226.72);
  --sp829: rgb(226.72, 56.68, 255);
  --sp830: rgb(226.72, 85.02, 0);
  --sp831: rgb(226.72, 85.02, 28.34);
  --sp832: rgb(226.72, 85.02, 56.68);
  --sp833: rgb(226.72, 85.02, 85.02);
  --sp834: rgb(226.72, 85.02, 113.36);
  --sp835: rgb(226.72, 85.02, 141.7);
  --sp836: rgb(226.72, 85.02, 170.04);
  --sp837: rgb(226.72, 85.02, 198.38);
  --sp838: rgb(226.72, 85.02, 226.72);
  --sp839: rgb(226.72, 85.02, 255);
  --sp840: rgb(226.72, 113.36, 0);
  --sp841: rgb(226.72, 113.36, 28.34);
  --sp842: rgb(226.72, 113.36, 56.68);
  --sp843: rgb(226.72, 113.36, 85.02);
  --sp844: rgb(226.72, 113.36, 113.36);
  --sp845: rgb(226.72, 113.36, 141.7);
  --sp846: rgb(226.72, 113.36, 170.04);
  --sp847: rgb(226.72, 113.36, 198.38);
  --sp848: rgb(226.72, 113.36, 226.72);
  --sp849: rgb(226.72, 113.36, 255);
  --sp850: rgb(226.72, 141.7, 0);
  --sp851: rgb(226.72, 141.7, 28.34);
  --sp852: rgb(226.72, 141.7, 56.68);
  --sp853: rgb(226.72, 141.7, 85.02);
  --sp854: rgb(226.72, 141.7, 113.36);
  --sp855: rgb(226.72, 141.7, 141.7);
  --sp856: rgb(226.72, 141.7, 170.04);
  --sp857: rgb(226.72, 141.7, 198.38);
  --sp858: rgb(226.72, 141.7, 226.72);
  --sp859: rgb(226.72, 141.7, 255);
  --sp860: rgb(226.72, 170.04, 0);
  --sp861: rgb(226.72, 170.04, 28.34);
  --sp862: rgb(226.72, 170.04, 56.68);
  --sp863: rgb(226.72, 170.04, 85.02);
  --sp864: rgb(226.72, 170.04, 113.36);
  --sp865: rgb(226.72, 170.04, 141.7);
  --sp866: rgb(226.72, 170.04, 170.04);
  --sp867: rgb(226.72, 170.04, 198.38);
  --sp868: rgb(226.72, 170.04, 226.72);
  --sp869: rgb(226.72, 170.04, 255);
  --sp870: rgb(226.72, 198.38, 0);
  --sp871: rgb(226.72, 198.38, 28.34);
  --sp872: rgb(226.72, 198.38, 56.68);
  --sp873: rgb(226.72, 198.38, 85.02);
  --sp874: rgb(226.72, 198.38, 113.36);
  --sp875: rgb(226.72, 198.38, 141.7);
  --sp876: rgb(226.72, 198.38, 170.04);
  --sp877: rgb(226.72, 198.38, 198.38);
  --sp878: rgb(226.72, 198.38, 226.72);
  --sp879: rgb(226.72, 198.38, 255);
  --sp880: rgb(226.72, 226.72, 0);
  --sp881: rgb(226.72, 226.72, 28.34);
  --sp882: rgb(226.72, 226.72, 56.68);
  --sp883: rgb(226.72, 226.72, 85.02);
  --sp884: rgb(226.72, 226.72, 113.36);
  --sp885: rgb(226.72, 226.72, 141.7);
  --sp886: rgb(226.72, 226.72, 170.04);
  --sp887: rgb(226.72, 226.72, 198.38);
  --sp888: rgb(226.72, 226.72, 226.72);
  --sp889: rgb(226.72, 226.72, 255);
  --sp890: rgb(226.72, 255, 0);
  --sp891: rgb(226.72, 255, 28.34);
  --sp892: rgb(226.72, 255, 56.68);
  --sp893: rgb(226.72, 255, 85.02);
  --sp894: rgb(226.72, 255, 113.36);
  --sp895: rgb(226.72, 255, 141.7);
  --sp896: rgb(226.72, 255, 170.04);
  --sp897: rgb(226.72, 255, 198.38);
  --sp898: rgb(226.72, 255, 226.72);
  --sp899: rgb(226.72, 255, 255);
  --sp900: rgb(255, 0, 0);
  --sp901: rgb(255, 0, 28.34);
  --sp902: rgb(255, 0, 56.68);
  --sp903: rgb(255, 0, 85.02);
  --sp904: rgb(255, 0, 113.36);
  --sp905: rgb(255, 0, 141.7);
  --sp906: rgb(255, 0, 170.04);
  --sp907: rgb(255, 0, 198.38);
  --sp908: rgb(255, 0, 226.72);
  --sp909: rgb(255, 0, 255);
  --sp910: rgb(255, 28.34, 0);
  --sp911: rgb(255, 28.34, 28.34);
  --sp912: rgb(255, 28.34, 56.68);
  --sp913: rgb(255, 28.34, 85.02);
  --sp914: rgb(255, 28.34, 113.36);
  --sp915: rgb(255, 28.34, 141.7);
  --sp916: rgb(255, 28.34, 170.04);
  --sp917: rgb(255, 28.34, 198.38);
  --sp918: rgb(255, 28.34, 226.72);
  --sp919: rgb(255, 28.34, 255);
  --sp920: rgb(255, 56.68, 0);
  --sp921: rgb(255, 56.68, 28.34);
  --sp922: rgb(255, 56.68, 56.68);
  --sp923: rgb(255, 56.68, 85.02);
  --sp924: rgb(255, 56.68, 113.36);
  --sp925: rgb(255, 56.68, 141.7);
  --sp926: rgb(255, 56.68, 170.04);
  --sp927: rgb(255, 56.68, 198.38);
  --sp928: rgb(255, 56.68, 226.72);
  --sp929: rgb(255, 56.68, 255);
  --sp930: rgb(255, 85.02, 0);
  --sp931: rgb(255, 85.02, 28.34);
  --sp932: rgb(255, 85.02, 56.68);
  --sp933: rgb(255, 85.02, 85.02);
  --sp934: rgb(255, 85.02, 113.36);
  --sp935: rgb(255, 85.02, 141.7);
  --sp936: rgb(255, 85.02, 170.04);
  --sp937: rgb(255, 85.02, 198.38);
  --sp938: rgb(255, 85.02, 226.72);
  --sp939: rgb(255, 85.02, 255);
  --sp940: rgb(255, 113.36, 0);
  --sp941: rgb(255, 113.36, 28.34);
  --sp942: rgb(255, 113.36, 56.68);
  --sp943: rgb(255, 113.36, 85.02);
  --sp944: rgb(255, 113.36, 113.36);
  --sp945: rgb(255, 113.36, 141.7);
  --sp946: rgb(255, 113.36, 170.04);
  --sp947: rgb(255, 113.36, 198.38);
  --sp948: rgb(255, 113.36, 226.72);
  --sp949: rgb(255, 113.36, 255);
  --sp950: rgb(255, 141.7, 0);
  --sp951: rgb(255, 141.7, 28.34);
  --sp952: rgb(255, 141.7, 56.68);
  --sp953: rgb(255, 141.7, 85.02);
  --sp954: rgb(255, 141.7, 113.36);
  --sp955: rgb(255, 141.7, 141.7);
  --sp956: rgb(255, 141.7, 170.04);
  --sp957: rgb(255, 141.7, 198.38);
  --sp958: rgb(255, 141.7, 226.72);
  --sp959: rgb(255, 141.7, 255);
  --sp960: rgb(255, 170.04, 0);
  --sp961: rgb(255, 170.04, 28.34);
  --sp962: rgb(255, 170.04, 56.68);
  --sp963: rgb(255, 170.04, 85.02);
  --sp964: rgb(255, 170.04, 113.36);
  --sp965: rgb(255, 170.04, 141.7);
  --sp966: rgb(255, 170.04, 170.04);
  --sp967: rgb(255, 170.04, 198.38);
  --sp968: rgb(255, 170.04, 226.72);
  --sp969: rgb(255, 170.04, 255);
  --sp970: rgb(255, 198.38, 0);
  --sp971: rgb(255, 198.38, 28.34);
  --sp972: rgb(255, 198.38, 56.68);
  --sp973: rgb(255, 198.38, 85.02);
  --sp974: rgb(255, 198.38, 113.36);
  --sp975: rgb(255, 198.38, 141.7);
  --sp976: rgb(255, 198.38, 170.04);
  --sp977: rgb(255, 198.38, 198.38);
  --sp978: rgb(255, 198.38, 226.72);
  --sp979: rgb(255, 198.38, 255);
  --sp980: rgb(255, 226.72, 0);
  --sp981: rgb(255, 226.72, 28.34);
  --sp982: rgb(255, 226.72, 56.68);
  --sp983: rgb(255, 226.72, 85.02);
  --sp984: rgb(255, 226.72, 113.36);
  --sp985: rgb(255, 226.72, 141.7);
  --sp986: rgb(255, 226.72, 170.04);
  --sp987: rgb(255, 226.72, 198.38);
  --sp988: rgb(255, 226.72, 226.72);
  --sp989: rgb(255, 226.72, 255);
  --sp990: rgb(255, 255, 0);
  --sp991: rgb(255, 255, 28.34);
  --sp992: rgb(255, 255, 56.68);
  --sp993: rgb(255, 255, 85.02);
  --sp994: rgb(255, 255, 113.36);
  --sp995: rgb(255, 255, 141.7);
  --sp996: rgb(255, 255, 170.04);
  --sp997: rgb(255, 255, 198.38);
  --sp998: rgb(255, 255, 226.72);
  --sp999: rgb(255, 255, 255);
}